/* 일정 표가 표시될 때만 상단 정렬을 적용하기 위한 클래스 */
.content-area.align-top {
    align-items: flex-start;
}

#schedule-display-area {
    width: 100%;
    margin-top: 30px;
}

.no-line-data-message {
    font-family: 'BMDOHYEON', sans-serif;
    font-size: 1rem;
    color: #888;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    border: 1px dashed #555;
    border-radius: 8px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}

/* 이전 데이터 선택 화면을 위한 스타일 */
.period-selector-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.period-btn {
    font-family: 'BMJUA', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #000000;
    color: #FFFFFF;
    padding: 14px 28px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #555;
    border-bottom: 4px solid #444;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: all 0.1s ease-out;
}
.period-btn:hover {
    background-color: #3A3A3C;
}
.period-btn:active {
    transform: translateY(2px);
    border-bottom-width: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.copy-down-icon {
    cursor: pointer;
    margin-left: 5px;
    color: #a0a0a0; /* 아이콘 색상 */
    transition: color 0.2s;
}

.copy-down-icon:hover {
    color: #ffffff; /* 마우스 올렸을 때 색상 */
}